/*font equivalents:
light = font-weight: 400
regular = font-weight: 500
demi = font-weight: 600
bold = font-weight: 800*/

/*  */

html {
    background-image: url("https://github.com/tuonganhdo/playlistify/blob/main/Background.png?raw=true");
    background-position: center top fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Wix Madefor Text', sans-serif;
    color: white;

    margin: 0;
    width: 100%;
    height: 100%;
}

header, footer {
    width: 90%;
    margin: 0 auto;
    height: 5%;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-buttons, p, .generate-by {
    
    width: 100%;
}

p {
    display: inline-block;
}

.playlistify, .log-out {
    font-weight: 600;
    width: 50%;
    margin: 0;
}

.playlistify {
    text-align: left;
}

.log-out {
    text-align: right;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
    font-weight: 400;
}

.made-with-love {
    height: 100%;
    margin: 0;
}

.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 70%;
}

h1 {
    text-align: center;
}